@import "tailwindcss";
@import "@heroui/styles/css";

@source "../../../node_modules/@heroui/react";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
